#gamearea{
background-color: lightslategray;
width: 540px;
height: 480px;
border-style: outset;
text-align: center;
margin: auto;
margin-top: 40px;
}
.w{
	display: inline-block;
background-color: rgb(48, 30, 30);
width: 18px;
height: 18px;
margin-top: -5px;
border-style: solid;
border-color: grey;
border-width: 1px;	
}
.f{
display: inline-block;
background-color: rgb(238, 238, 163);
padding: 0;
width: 20px;
height: 20px;
margin-top: -5px;
/* border-style: solid;
border-color: green;
border-width: 1px */;
}
.p{
display: inline-block;
background-color: red;
padding: 0;
width: 20px;
height: 20px;
margin-top: -5px;
/* border-style: solid;
border-color: green;
border-width: 1px */;
}


.radar{
display: block;
height: 150px;
width: 150px;
float: right;
margin-top: 40px;
margin-right: 100px;
background-color: lightgrey;
text-align: center;
text-decoration: underline;
}
.navbar{
	position: static;
	background-color: lightgrey;
}
body{
	background-color: linen;
}
.b4, .b11, .b13, .b14, .b15, .b16, .b17, 
.b20, .b22, .b26, .b29, .b31, .b32, .b33, 
.b35, .b38, .b42, .b44, .b47, .b49, .b50, 
.b51, .b53, .b56, .b58, .b62, .b65, .b66, 
.b67, .b69, .b70, .b71, .b78{
	background-color: yellow;
}
